{% extends "accounts/main.html" %} 
{% block content %}

<!-- Page Heading -->
<div class="container my-4">
    <h2 class="text-center mb-4">Products</h2>
    
    <!-- Products Card -->
    <div class="card shadow border-light">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Product List</h5>
        </div>
        <div class="card-body">
            <!-- Table -->
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in products %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.category }}</td>
                        <td>${{ i.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
